*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

.logo{
    width: 10%;
    border-radius: 50%;
}

.hero-text{
    max-width: 500px;
    text-align: justify;
}
.hero-image{
    background-color:#f3f2ef;
}
.line{
    height: 40px;
    width: 4px;
}
.product-container{
    box-shadow: 0 1px 1px 5px lightgray;
}
.product-container:hover{
    box-shadow: 0 1px 1px 5px rgb(135, 129, 129);
}
.product-container img{
    height: 300px;
}