*{
    font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
}

.logo{
    width: 10%;
    border-radius: 50%;
}

.hero-text{
    max-width: 500px;
    text-align: justify;
}
.hero-image{
    background-color:#f3f2ef;
}
.line{
    height: 40px;
    width: 4px;
}
.product-container{
    height: 400px;
}